<h1 class="animate__animated animate__rubberBand">So Happy, You'll Be Part of Our Family</h1>
<p-progressSpinner *ngIf="actionDone" [style]="{width: '50px', height: '50px', left: '46%'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>

<div *ngIf="!actionDone" id="signUp">
      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            <label>Username</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input pInputText type="text" placeholder="your username" [(ngModel)]="login.username">
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
              <input pInputText type="email" placeholder="your email" #email="ngModel" [(ngModel)]="login.email" email>
              <span class="help-block" *ngIf="email.invalid">Email invalid</span>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label>Password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input pInputText type="password" placeholder="your password" [(ngModel)]="login.password">
            </div>
          </div>
        </div>
      </div>
      <div class="card-fouter">
        <button class="btn btn-block btn-outline-success" (click)="save(login)" >Sign Up</button>
        <button class="btn btn-block btn-outline-primary" routerLink="">Log In</button>
      </div>
</div>

