<p-progressSpinner *ngIf="actionDone" [style]="{width: '50px', height: '50px', left: '46%'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>

<div *ngIf="!actionDone" id="connect" class="animate__animated animate__slideInUp">
  <div>
    <div id="card">
      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            <label>Username</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            <input pInputText type="text" placeholder="your username" [(ngModel)]="login.username">
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label>Password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            <input pInputText type="password" placeholder="your password" [(ngModel)]="login.password">
            </div>
          </div>
        </div>
      </div>
      <div class="card-fouter">
        <button class="btn btn-block btn-outline-primary" (click)="seConnecter(login.username, login.password)">Log In</button>
        <button class="btn btn-block btn-outline-warning" routerLink="SignUp" >Sign Up</button>
      </div>
    </div>
  </div>
</div>
<div>
<img src="../../../assets/logo.jpg" alt="Logo" class="animate__animated animate__fadeIn" />


    <h1 class="animate__animated animate__zoomInDown">WELCOME TO YOUR HOME !</h1>

</div>
