.txt {
  font-size: larger;
  text-align: center;
  font-family: Algerian;
  animation-name: textAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes textAnimation {
  0% {color: black}
  25% {color: #0d0aef}
  50% {color: #a70500
  }
  75% {color: white}
  100%{color: black}
}
#navbar {
  position: sticky;
}
