<nav class="navbar fixed-top navbar-light bg-light" id="navbar" style="z-index: 2">
  <div class="row" style="width: 100%">
    <div class="col-md-4">
      <button class="btn btn-sm btn-warning" (click)="visibleSidebar1 = true" pTooltip="Menu List"><i class="pi pi-list"></i></button>
    </div>
    <div class="col-md-4" style="text-align: center; width: 100%"><h3><strong class="txt">Spotted</strong></h3></div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-warning" pTooltip="Logout" (click)="logOut()" [style]="{float: 'right'}"><i class="pi pi-power-off"></i></button>
    </div>
  </div>
</nav>

<p-progressSpinner *ngIf="actionDone" [style]="{width: '50px', height: '50px', left: '46%'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>


<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="9998" [style]="{backgroundColor: '#efaf00'}">
  <div>
    <div class="row" style="padding-top: 20%">
      <div class="col-md-12">
        <button class="btn btn-outline-danger btn-block" disabled>{{username}}</button>
      </div>
    </div>
    <div class="row" style="padding-top: 10%">
      <div class="col-md-12">
        <button class="btn btn-outline-dark btn-block" routerLink="home" (click)="visibleSidebar1 = false" >Home</button>
      </div>
    </div>
    <div class="row" style="padding-top: 10%">
      <div class="col-md-12">
        <button class="btn btn-outline-dark btn-block" routerLink="mySpots" (click)="visibleSidebar1 = false">My Spots</button>
      </div>
    </div>
    <br> <br> <br>
    <div class="txt">Spotted Fstg</div>
    <br> <br> <br>

    <div class="row" style="padding-top: 10%">
      <div class="col-md-12">
        <button class="btn btn-outline-danger btn-block" routerLink="myInfos" (click)="visibleSidebar1 = false">My Infos</button>
      </div>
    </div>
    <br>
    <hr>

    <div class="row" style="padding-top: 10%">
      <div class="col-md-12">
        <button class="btn btn-outline-danger btn-block" routerLink="help" (click)="visibleSidebar1 = false">About us</button>
      </div>
    </div>

  </div>
</p-sidebar>

<div class="newSpot" style="bottom: 0; right: 0; position: fixed; z-index: 9898">
  <button class="btn btn-success" style="color: red" (click)="visibleSidebar2 = true">New Spot</button>
</div>

<p-sidebar position="bottom" [(visible)]="visibleSidebar2" [baseZIndex]="9999" [style]="{backgroundColor: '#efaf00'}">
  <div class="row">
    <div class="col-md-10">
      <textarea name="spotText" id="spotText" rows="3" style="width: 100%; resize: none;" placeholder="Your spot !!!" [(ngModel)]="spot.spotText"></textarea>
    </div>
    <div class="col-md-2">
      <button pButton icon="pi pi-save" class="btn btn-block" label="Done" (click)="save(spot)"></button>
    </div>
  </div>
</p-sidebar>


<br> <br> <br>
<div style="margin-left: 10%; margin-right: 10%">
<router-outlet></router-outlet>
</div>



